# entornos virtuales
env/
venv/

# Pycharn & VSCode
.idea/
.vscode/

# SQLite
*.sqlite3

# Django environment
.env

# Cache de python
*/__pycache__/
*/*/__pycache__/

# Ignorar configuración de producción

main/settings_production.py